* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
* {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}



.logo span {
  font-size: 12px;
  font-weight: 300;
}
.logo {
  letter-spacing: 0.1em;
  font-size: 16px;
  font-weight: 900;
}
.logo i {
  color: #00b2ff;
}

.menu {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: 200;
  z-index: 1000;
  transition: 0.6s;
}

/*Efeito color nvbr*/
.stiky {
  background: rgb(36, 35, 35, 0.55);
  transition: 0.6s;
}

.menu-ul {
  display: flex;
  gap: 20px;
}
.menu-ul li a {
  display: block;
  padding: 5px;
  color: rgb(255, 255, 255);
}

.menu-ul li a:hover {
  color: #ffffff;
  background: rgb(43, 43, 43);
  border-radius: 5px;
}

#icone {
  display: none;
}

/* Banner---------------------------- */

.banner {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.955) 100%),
    url("https://images.unsplash.com/photo-1593583850846-9dcc36bfcb54?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.seta{
  position:absolute;
  width:40px;
  height:40px;
  background: url('https://www.sobrancelhasce.com.br/img/seta-branca.png');
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 80px;
  
  animation: 1s anime ease-in-out infinite alternate;
}

@keyframes anime{
  0%{
    bottom: 5px;
  }
  100%{
    bottom: 20px;
  }
}

.text {
  text-align: center;
  letter-spacing: 0.1em;
}

.text h1 {
  font-size: calc(2rem + 5vw);
  font-weight: 900;
  position: relative;
}

.text h1::after {
  content: "";
  width: 50px;
  height: 6px;
  background: #00b2ff;
  border-radius: 50px;
  position: absolute;
  bottom: 10%;
  left: 0px;
}

.text span {
  font-size: 1.5rem;
  font-weight: 200;
}

.text p {
  font-weight: 200;
  font-size: 16px;
  color: #bdbdbd;
}

/* Bloco------------------------ */

.bloco {
  background: rgb(238, 238, 238);
  padding: 60px 10px;
  border-radius: 10px 10px 0 0;
  transform: translateY(-7px);
}

.bloco .bloco-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.bloco .bloco-content span {
  max-width: 400px;
  text-align: center;
  font-weight: 300;
  color: #837f7f;
}

.bloco .bloco-content a {
  width: auto;
  padding: 15px 25px;
  background: #21c828;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  box-shadow: 1px 1px 10px #777676;
}

.bloco .bloco-content i {
  font-size: 32px;
}



/* Section process */

#sobre{
  padding: 80px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  
 
}

#sobre .steps,.steps-text{
  width: 350px;
}

h2{
  position: relative;
  font-size: 18px;
  margin-bottom: 20px;
  letter-spacing: .1em;
  font-weight: 600;
}

h2::before {
  content: "";
  width: 30px;
  height: 4px;
  background: #00b2ff;
  border-radius: 50px;
  position: absolute;
  bottom: 0;
  top:-2px;
  left: 0;
}

.steps{
  
  display: flex;
  flex-direction: column;
  align-items: left;
}

.steps h2{
  display: block;
  width: 100%;
}
.container-slide h2::before{
  display: none;
}

.steps-text p{
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
  text-align:inherit;
  padding: 0;
}



/* Valores sssection ------------------------------ */

.valores{
  padding: 80px 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.cards .card { 
  width: 200px;
  min-height: 250px;
  border: 1px solid #cfcfcf;
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
 /*  box-shadow: 0px 0px 10px 5px #f5f5f5; */
}

.cards .card i{
  font-size: 48px;
  padding-bottom: 15px;
}

.cards .card p{
  font-weight: 600;
  font-size: 18px;
}


.cards .card span{
  font-weight: 300;
  font-size: 16px;
  padding: 0 5px;
}




/* About us section  ----------------------------------------------- */

.about{
  background: #F6F6F6;
  padding: 80px 10px;
  padding-bottom: 180px;
}



.text-about, .cards-about{
  position: relative;
}
 

.box-about{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.box-about p{
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
  text-align: inherit;
  padding: 0;
}

/*--------------------*/

.box-about .text-about{
width: 350px;
}

.box-about .cards-about{
  width: 400px;
  height: 400px;


  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.ca-a{
  border-radius: 5px;
  background: rgb(255, 255, 255);
}

.a1{
  background: url('https://images.unsplash.com/photo-1649633195073-ec2be35814d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
  background-size: cover;
  background-position: center;
}
.a2{
  background: url('https://images.unsplash.com/photo-1608522904505-3650e38ac4f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80');
  background-size: cover;
  background-position: center;
}

.a3{
  grid-column: 1/3;
  background: url('https://images.unsplash.com/photo-1648634992197-194e24cba1b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
  background-size: cover;
  background-position: center;
}


/*----------------------------------------------------------*/

.contact{
  padding: 80px 10px;
  height: 100vh;
  background: #C4C4C4;
  position: relative;
  height: 300px;
   
}

.contact::before{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
height: 100%;
width: 100%;
content: '';
background: inherit;
transform-origin:bottom left;
transform:skewy(-4deg); 
}

.text-cont h2,p{
  position: relative;
}

.text-cont p{
  font-size: 16px;
    font-weight: 200;
    line-height: 1.4;
    text-align: inherit;
    padding: 0;
}

.box-cont{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.img-cont{
  width: 400px;
  
  transform: translateY(-60px);

}

.img-cont img{
  width: 100%;
  z-index: 0;
  position: absolute;
}

.footer{
  background: #222222;
  z-index: 1000;
  padding: 80px 10px;
  position: relative;
  overflow: hidden;

}

/* Responsive ----------------------*/

/* Menu */

@media (max-width: 600px) {
  #icone {
    display: block;
  }
  .menu-ul {
    width: 0;
    height: calc(100vh - 60px);
    background: #292929;
    position: absolute;
    top: 60px;
    left: 0;
    display: block;
    text-align: center;
    border-radius: 0 20px 20px 0;

    /* efect */
    visibility: hidden;
    overflow-x: hidden;
    transition: 0.6s;
  }
  .menu-ul li a {
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 25px;
    border-radius: none;
  }

  .active.nav .menu-ul {
    visibility: visible;
    width: 80%;
    transition: 0.6s;
  }

  .bloco .bloco-content a {
    margin-top: 30px;
  }
}

@media (max-width: 755px){
  #sobre{
    justify-content: center;
  }
}
@media (max-width: 750px){
  .steps{
    align-items: center;
  }
}




/* SLIDE------------------------------------------- */

.container-slide {
  width: 100%;
  max-width: 250px;
  border: 1px solid rgb(228, 227, 227);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.imagem {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.container-slide > h2,
p {
  text-align: center;
  padding: 4px;
  margin-bottom: 0;
   
}
.container-slide p{
  padding-bottom: 15px;
  font-size: 14px;
}

/*javascript*/
[data-slide] {
  position: relative;
}

[data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
  transition: opacity 3s;
}

[data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 1s;
  z-index: 1;
}

[data-slide-nav] {
  display: block; 
  margin-top: 20px;
  display: 100%;
  max-width: 250px;
  text-align: center;
}

[data-slide-nav] > button {
  display: inline-block;
  width: 20px;
  margin: 4px;
  height: 8px;
  border: none;
  padding: 0px;
  
  background: #2e2e2e;
  text-indent: -100px;
  overflow: hidden;
}
[data-slide-nav] > button.active {
  background: #04e2ff;
}
